/*头部开始 start*/
#wrap {
  position: relative;
  height: 100%;
}
#wrap .con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
}
.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 1.11688312rem;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  background: linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
.header .menu {
  float: left;
  width: 0.53246753rem;
  height: 0.85714286rem;
  padding: 0.25974026rem 0 0 0.51948052rem;
}
.header .menu a {
  display: block;
  width: 0.53246753rem;
  height: 0.44155844rem;
  background: url("../img/download.png") no-repeat;
  background-position: 0 -0.15584416rem;
  background-size: 7.32467532rem 0.80519481rem;
}
.header .login {
  float: right;
  padding: 0.25974026rem 0.51948052rem 0 0;
  height: 0.85714286rem;
}
.header .login a {
  font-size: 0.28571429rem;
  color: #ffffff;
  vertical-align: top;
}
.header .search-con {
  position: relative;
  width: 6.88311688rem;
  height: 100%;
  margin: 0 auto;
}
.header .search-con input.search {
  width: 100%;
  height: 0.85714286rem;
  vertical-align: top;
  margin-top: 0.1038961rem;
  text-indent: 0.27272727rem;
  border-radius: 0.06493506rem;
}
.header .search-con input.search-submit {
  position: absolute;
  top: 0.28571429rem;
  right: 0.32467532rem;
  width: 0.44155844rem;
  height: 0.44155844rem;
  background: url("../img/download.png") no-repeat;
  background-position: -2.16883117rem -0.14285714rem;
  background-size: 7.32467532rem 0.80519481rem;
}
/*头部开始 end*/
/*幻灯片 start*/
.main-slide {
  position: relative;
  height: 4.7012987rem;
}
.main-slide ul {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.main-slide li {
  float: left;
  height: 100%;
}
.main-slide li a img {
  width: 100%;
  height: 100%;
}
.main-slide .dot {
  position: absolute;
  bottom: 0.20779221rem;
  width: 100%;
  line-height: 0;
  text-align: center;
}
.main-slide .dot span {
  display: inline-block;
  width: 0.18181818rem;
  height: 0.18181818rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.09090909rem;
  vertical-align: top;
}
.main-slide .dot span.on {
  background: #f40;
}
/*幻灯片 end*/
/*功能模块 start*/
.module {
  height: 3.61038961rem;
  padding-top: 0.1038961rem;
  background: #ffffff;
}
.module ul {
  height: 1.57142857rem;
  margin-bottom: 0.1038961rem;
}
.module li {
  float: left;
  width: 2rem;
  height: 1.55844156rem;
  box-sizing: border-box;
}
.module li a {
  display: block;
  height: 100%;
  text-align: center;
  font-size: 0.23376623rem;
  color: #000;
}
.module li a img {
  display: block;
  width: 0.93506494rem;
  height: 0.93506494rem;
  margin: 0 auto;
}
/*功能模块 end*/
/*今日推荐 start*/
.todayFocus {
  height: 1.03896104rem;
  background: #ffffff;
}
.todayFocus .hotImg {
  float: left;
  width: 1.71428571rem;
  height: 100%;
  border-right: 1px solid #e7e7e7;
  text-align: center;
}
.todayFocus .hotImg img {
  width: 1.38961039rem;
  height: 0.96103896rem;
}
.todayFocus img.news {
  width: 0.5974026rem;
  height: 0.5974026rem;
  margin: 0.25974026rem 0.25974026rem 0;
}
.todayFocus .todayCon {
  position: relative;
  float: right;
  width: 7.07792208rem;
  height: 100%;
  overflow: hidden;
}
.todayFocus .todayCon ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.todayFocus .todayCon li {
  height: 1.03896104rem;
}
.todayFocus .todayCon li a {
  display: block;
  height: 100%;
}
.todayFocus .todayCon li span {
  display: block;
  height: 0.28571429rem;
  font-size: 0.28571429rem;
  padding: 0.11688312rem 0;
}
.todayFocus .todayCon li span:nth-of-type(1) {
  color: #000;
}
.todayFocus .todayCon li span:nth-of-type(2) {
  color: #ff5453;
}
/*今日推荐 end*/
/*今日类目 start*/
.todayList {
  position: relative;
  height: 2.72727273rem;
}
.todayList ul {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.todayList ul li {
  float: left;
  width: 4.54545455rem;
  height: 100%;
}
/*今日类目 end*/
/*必抢 start*/
.public-title header.title {
  height: 0.81818182rem;
  text-align: center;
  line-height: 0.77922078rem;
}
.public-title .title .line {
  display: inline-block;
  width: 0.88311688rem;
  height: 1px;
  border-bottom: 1px solid #F6B7B7;
  vertical-align: middle;
}
.public-title .title img {
  height: 0.41558442rem;
  vertical-align: middle;
}
.public-title .title .title-con {
  font-size: 0.38961039rem;
  color: #FF2E2E;
  vertical-align: middle;
}
.public-title ul {
  display: flex!important;
  box-sizing: border-box;
}
.buy ul {
  height: 3.66233766rem;
  margin-bottom: 1px;
}
.public-title ul li {
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  background: white;
}
.buy ul li {
  margin-right: 1px;
  background: white;
}
.public-title ul li a {
  display: block;
  text-align: center;
  height: 100%;
}
.buy ul li a .title {
  display: block;
  font-size: 0.32467532rem;
  color: #2F2F2F;
  height: 0.7012987rem;
  line-height: 0.7012987rem;
  vertical-align: top;
}
.buy ul li a img {
  display: block;
  margin: 0 auto;
  width: 2.16883117rem;
  height: 2.16883117rem;
  vertical-align: top;
}
.buy ul li a .price {
  color: #ff2e2e;
  font-size: 0.25974026rem;
  vertical-align: top;
}
.buy ul li a .cost-price {
  font-size: 0.20779221rem;
  color: #9b9b9b;
  vertical-align: top;
}
/*必抢 end*/
/*品牌特卖 start*/
.Sale ul {
  height: 2.93506494rem;
}
.Sale ul li {
  height: 100%;
}
/*品牌特卖 end*/
/*品牌资讯 start*/
.info ul {
  height: 4.67532468rem;
}
/*品牌资讯 end*/
/*广告1 start*/
.ad {
  height: 2.49350649rem;
}
/*广告1 end*/
/*生活 start*/
.live ul {
  height: 3.92207792rem;
}
.live ul li {
  height: 100%;
}
.live ul li:nth-child(1) {
  flex: 4.41558442rem;
  margin-right: 2px;
}
.live ul li:nth-child(2) {
  flex: 5.55844156rem;
  overflow: hidden;
}
.live ul li:nth-child(2) div {
  border-bottom: 2px solid #f0f0f0;
}
/*生活 end*/
/*猜你喜欢 start*/
.like ul li {
  height: 6.5974026rem;
}
.like ul li a .pic {
  width: 4.96103896rem;
  height: 4.83116883rem;
}
.like ul li a .like-con {
  height: 1.72727273rem;
}
.like ul li a .like-con em.title {
  display: block;
  height: 0.71428571rem;
  line-height: 0.45454545rem;
  font-size: 0.38961039rem;
  color: #666;
  overflow: hidden;
  padding: 0.12987013rem;
}
.like ul li a .like-con span.price {
  display: block;
  color: #dd2727;
  font-size: 0.19480519rem;
  text-align: left;
  padding: 0.12987013rem;
}
.like ul li a .like-con span.price span.integer {
  font-size: 0.38961039rem;
}
/*猜你喜欢 end*/
/*底部版权 start*/
.footer {
  width: 100%;
  height: 2.68831169rem;
  background: #ffffff;
  border-top: 0.06493506rem solid #000000;
}
.footer .footerNav {
  width: 9.4025974rem;
  margin: 0.55844156rem auto 0.85714286rem;
}
.footer .footerNav a {
  float: left;
  width: 2.31168831rem;
  height: 0.32467532rem;
  line-height: 0.32467532rem;
  text-align: center;
  font-size: 0.31168831rem;
  color: #999;
}
.footer .footerNav span {
  float: left;
  width: 0.05194805rem;
  height: 0.32467532rem;
  line-height: 0.32467532rem;
  font-size: 0.31168831rem;
  color: #999;
}
.footer .copy {
  line-height: 0.27272727rem;
  text-align: center;
  font-size: 0.27272727rem;
  color: #999;
  padding-bottom: 0.64935065rem;
}
/*底部版权 end*/
